@using TestSite.PL.WebPages.Models
@using TestSite.Entites
@using TestSite.Variables
@{
    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "Администрирование";

    var adminRole = Variables.AdminRole;
    var superadminRole = Variables.SuperadminRole;
    var inspectorRole = Variables.InspectorRole;
    var superadminsDep = Variables.SuperadminsDep;
    var inspectorsDep = Variables.InspectorsDep;
    Role usersRole = null;
    ICollection<Dep> deps = null;

    string errorMessage = null;

    var log = TestSite.Logger.Logger.Log;

    if (!User.Identity.IsAuthenticated)
    {
        Response.StatusCode = 401;
        return;
    }

    try
    {
        var userId = Convert.ToInt32(User.Identity.Name);
        usersRole = LogicProvider.EmployeeLogic.GetRoleForUserByEmployeeId(userId);
    }
    catch (Exception ex)
    {
        // TODO Fatal Page
        errorMessage = ex.Message;
    }

    if (usersRole == null)
    {
        // TODO Fatal Page
    }

    if (usersRole != Variables.AdminRole &&
        usersRole != Variables.SuperadminRole &&
        usersRole != Variables.InspectorRole)
    {
        Response.StatusCode = 403;
        return;
    }

    if (usersRole == Variables.InspectorRole)
    {
        try
        {
            deps = LogicProvider.DepLogic.ListAllDeps();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

<div class="content content-admin container-fluid" data-user-id="@User.Identity.Name">

    @if (deps != null)
    {
        <div class="deps-select-container">
            <div class="row tab-row">
                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label>Укажите отдел: </label>
                        <select class="form-control deps-select">
                            @foreach (var dep in deps)
                            {
                                if (dep.Id != superadminsDep.Id && dep.Id != inspectorsDep.Id)
                                {
                                    <option value="@dep.Id">@dep.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    }

    <ul class="nav nav-tabs">
        @if (usersRole == adminRole || usersRole == inspectorRole)
        {
            <li class="listTests active"><a data-toggle="tab" href="#testsTab">Тесты</a></li>
            <li class="editTest hide"><a data-toggle="tab" href="#editTestTab"><b>Редактирование</b></a></li>
            <li><a data-toggle="tab" href="#personalTab">Персонал</a></li>
            <li><a data-toggle="tab" href="#reportTab">Статистика  @((usersRole != inspectorRole) ? "моего " : "")отдела</a></li>
        }
        @if (usersRole == superadminRole)
        {
            <li class="listDeps active"><a data-toggle="tab" href="#depsTab">Отделы</a></li>
            <li class="editDep hide"><a data-toggle="tab" href="#editDepTab"><b>Редактирование</b></a></li>
        }
    </ul>

    <div class="tab-content">

        @if (usersRole == adminRole || usersRole == inspectorRole)
        {
            <div id="testsTab" class="tab-pane fade in active tests-tab">
                <!-- Tests tab -->
                @RenderPage("~/Pages/_TestsTabPartial.cshtml", new { usersRole })
                <!--  -->
            </div>

            <div id="editTestTab" class="tab-pane fade in editTest-tab" data-test-id="-1" data-test-name="">
                <!-- Tests tab -->
                @RenderPage("~/Pages/_EditTestTabPartial.cshtml", new { usersRole })
                <!--  -->
            </div>

            <div id="personalTab" class="tab-pane fade in personal-tab">
                <!-- Personal tab -->
                @RenderPage("~/Pages/_PersonalTabPartial.cshtml", new { usersRole })
                <!--  -->
            </div>

            <div id="reportTab" class="tab-pane fade in report-tab">
                <!-- Report tab -->
                @RenderPage("~/Pages/_ReportTabPartial.cshtml")
                <!--  -->

            </div>
        }

        @if (usersRole == superadminRole)
        {
            <div id="depsTab" class="tab-pane fade in active deps-tab">
                <!-- Deps tab -->
                @RenderPage("~/Pages/_DepsTabPartial.cshtml")
                <!--  -->
            </div>

            <div id="editDepTab" class="tab-pane fade in editDep-tab" data-dep-id="-1" data-dep-name="">
                <!-- Edit dep tab -->
                @RenderPage("~/Pages/_EditDepTabPartial.cshtml")
                <!--  -->
            </div>
        }

        <!-- Modal for preview test -->
        @RenderPage("~/Pages/_AdminTestPreviewPartial.cshtml")
        <!--  -->
        @if (usersRole != inspectorRole)
        {
            <!-- Modal for edit and create test -->
            @RenderPage("~/Pages/_NamePromptPartial.cshtml")
            <!--  -->
            <!-- Modal for edit and create question -->
            @RenderPage("~/Pages/_QuestionPromptPartial.cshtml")
            <!--  -->
            <!-- Modal for remove -->
            @RenderPage("~/Pages/_RemovePromptPartial.cshtml")
            <!--  -->
            <!-- Modal for create/edit employee -->
            @RenderPage("~/Pages/_EmployeePromptPartial.cshtml")
            <!--  -->
        }
    </div> <!-- tab-content / end -->
    <!-- ErrorModal -->
    @RenderPage("~/Pages/_ErrorModalPartial.cshtml")
    <!--  -->
</div> <!-- container / end -->


@section header {
    <link rel="icon" type="image/png" href="~/images/icons/adminka.png" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/admin.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/reportTab.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/tables.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/schema.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/testTabs.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/jquery.panzoom.min.js"></script>
    <script src="~/Scripts/jquery.imagefit-0.2.js"></script>
    <script src="~/Scripts/jquery.fileDownload.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/Scripts/ProjectScripts/admin.js"></script>
    @if (usersRole == adminRole || usersRole == inspectorRole)
    {
        <script src="~/Scripts/ProjectScripts/admin-test-preview.js"></script>
        <script src="~/Scripts/ProjectScripts/admin-report.js"></script>
        <script src="~/Scripts/ProjectScripts/admin-personal.js"></script>
    }

    @if (usersRole == superadminRole)
    {
        <script src="~/Scripts/ProjectScripts/admin-deps.js"></script>
    }
}